*.VC.db
*.VC.VC.opendb
*.suo
*.user
*.vcxproj.filters
*.vcxproj.user
.vs/
*.cs.rej
*.csproj.orig
*.csproj.user
*.lock.json
*.nuget.cache
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
AppPackages/
Bundle/
bin/
obj/
Generated\ Files/
*.msix
*.msixbundle
*.appx
*.appxbundle
*.appxupload
*.pfx
**/Package.appxmanifest
packages/
!**/packages/repositories.config
.idea/
*.log
Thumbs.db
.DS_Store
*.[Pp]ublish.xml
*.pubxml
*.publishsettings
*.[Pp]ublishsettings
appsettings.Development.json